<div>
    <h1>Sign Up</h1>
    <form class="signUp"action="/" method="post">
        <label for="name">Username: </label>
        <input id="name" type="text" name="name" value="Default name for team.">
    </form>
</div>