<!DOCTYPE =html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
    <div class="bodyDiv">
        <div="navigation">
            <nav>
                <a href="/">Gabble</a> |
                <a href="/">Create a new gab</a> |
                <a href="/">Logged in as {{username}}</a> |
                <a href="/">Log out</a>
            </nav>
        </div>
    </div>
    </body>
<html>